<?xml version="1.0"?>
<config>
    <modules>
        <Pepkor_Storelocator>
            <version>1.0.0</version>
        </Pepkor_Storelocator>
    </modules>
    <global>
        <blocks>
            <storelocator>
                <class>Pepkor_Storelocator_Block</class>
            </storelocator>
        </blocks>
        <helpers>
            <storelocator>
                <class>Pepkor_Storelocator_Helper</class>
            </storelocator>
        </helpers>
        <models>
            <storelocator>
                <class>Pepkor_Storelocator_Model</class>
                <resourceModel>storelocator_mysql4</resourceModel>
            </storelocator>
            <storelocator_mysql4>
                <class>Pepkor_Storelocator_Model_Mysql4</class>
                <entities>
                    <storelocator>
                        <table>storelocator</table>
                    </storelocator>
                    <storelocatorhours>
                        <table>storelocator_hours</table>
                    </storelocatorhours>
                    <storelocatorprovinces>
                        <table>storelocator_provinces</table>
                    </storelocatorprovinces>
                </entities>
            </storelocator_mysql4>
        </models>
        <!-- allow the plugin to read and write -->
        <resources>
            <!-- connection to write -->
            <storelocator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocator_write>
            <storelocatorhours_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocatorhours_write>
            <storelocatorprovinces_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </storelocatorprovinces_write>
            <!-- connection to read -->
            <storelocator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocator_read>
            <storelocatorhours_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocatorhours_read>
            <storelocatorprovinces_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </storelocatorprovinces_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <storelocator>
                <use>standard</use>
                <args>
                    <module>Pepkor_Storelocator</module>
                    <frontName>storelocator</frontName>
                </args>
            </storelocator>
        </routers>
        <layout>
            <updates>
                <storelocator>
                    <file>storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminstorelocator>
                <use>admin</use>
                <args>
                    <module>Pepkor_Storelocator</module>
                    <frontName>adminstorelocator</frontName>
                </args>
            </adminstorelocator>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <storelocator>
                    <file>storelocator.xml</file>
                </storelocator>
            </updates>
        </layout>
        <menu>
            <storelocator translate="title" module="adminhtml">
                <title>Storelocator</title>
                <sort_order>90</sort_order>
                <children>
                    <set_time>
                        <title>Stores</title>
                        <action>adminstorelocator/adminhtml_index</action>
                    </set_time>
                </children>
            </storelocator>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <storelocator>
                                            <title>Custom Configuration Section</title>
                                        </storelocator>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>